<section class="slice slice-lg sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">

        <div class="form-user style-1 rounded has-shadow-1">
          <div class="form-header">
            <h1 class="form-header-title">welcome to <br><span class="glyphicon glyphicon-book">
            </span>Bookers !!</h1>
          </div>
          <div class="form-body">
            <p>In <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>,</p>
            <p>you can share and exchange your opinions , inpressions, and emotions
            about varioius books!</p>
          </div>
          <div class="form-form">
            <div class="">
              <button type="button" class="btn btn-info btn-block"><%= link_to "Log in", user_session_path, class: "sign_in" %></button>
              <button type="button" class="btn btn-success btn-block"><%= link_to "Sign Up", new_user_registration_path, class: "sign_up" %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>