<h1>以下の内容はおかしい</h1>



  <div class="container">
  <div class="row">
    <div class="col-xs-3">

      <h2>User info</h2>
      <%= render 'users/info', user: @user,now: '',books: @books %>

      <h2>New book</h2>
      <%= render 'books/newbook', book: @book %>

    </div>

    <div class="col-xs-9">

      <h2>Books</h2>
      <p class="">aaaaaaaaaaaaaaaaaa</p>

    </div>
  </div>
</div>


