<div class="row">
  <div class="col-3">
    <div class="">



    <!-- もし投稿者 == ログイン中のユーザー だったら 削除ボタンを表示する-->
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>

</div>

